<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scal=1">
        <title>{% block title %}{% endblock %}</title>

        <!-- JQuery 3.4.1 -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>

        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>

        <!-- Custom CSS -->
        {% block CSS %}{% endblock %}

        <style type="text/css">
            #background {
                width: 100%;
                height: 100%;

                position: fixed;
                top: 0;
                left: 0;

                background-color:lightgray;
            }

            #main-nav {
                width: 400px;
                height: 64px;

                position: absolute;
                top: 5%;
                left: 10%;
            }

            #main-nav nav {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }

            content {
                width: 90%;
                height: 80%;

                position: absolute!important;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -45%);
                border-radius: 30px;

                overflow-y: scroll;
                -ms-overflow-style: none;
            }

            content::-webkit-scrollbar { display: none; }
        </style>

        <!-- Custom JS -->
        <script type="text/javascript">
            function logout() {
                $.ajax({
                    url: '/manager/logout',
                    method: 'GET'
                })
                .done((data) => { location.href = '/' });
            }
        </script>

        {% block JS %}{% endblock %}
    </head>

    <body>
        <div id="background"></div>

        <div id="main-nav">
            <nav>
                <button onclick="location.href = '/manager/dashboard';" type="button" class="btn btn-dark">TICKET</button>
                <button onclick="location.href = '/manager/check';" type="button" class="btn btn-dark">CODE CHECK</button>
                <button onclick="logout();" type="button" class="btn btn-danger">LOGOUT</button>
            </nav>            
        </div>

        {% block content %}{% endblock %}
    </body>
</html>
