{% extends 'layout.html' %}

{% block CSS %}
<style type="text/css">
    content {
        width: 500px;
        height: 350px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
    }

    #page-title {
        font-size: 100px;
    }

    content input {
        width: 100%;
        text-align: center;
    }

    #message {
        text-align: center;
        font-size: 20px;
        color: coral;

        margin-top: 30px;
    }

    /* Portrait phones */
    @media (max-width: 575.98px) {
        content {
            width: 90%;
        }
    }
</style>
{% endblock %}

{% block JS %}
<!-- SHA 512 -->
<script src="/static/includes/sha512.min.js" type="text/javascript"></script>

<script type="text/javascript">
    function login() {
        const username = sha512( $('#username').val() );
        const password = sha512( $('#password').val() );

        $.ajax({
            url: '/user/auth',
            method: 'POST',
            data: JSON.stringify({
                'username': username,
                'password': password
            }),
            contentType: 'application/json',
            dataType: 'json'
        })
        .done((data) => {
            if (data.success) {
                location.reload();
            } else {
                $('#message')[0].innerHTML = `
                Wrong ID or Password<br />
                If you forgot the ID or Password, contact with manager.
                `;
            }
        })
        .fail((jqXHR, textStatus) => {
            $('#message')[0].innerHTML = `
            Sorry, error request login API (${textStatus})<br />
            Please contact with manager.
            `;
        });
    }
</script>
{% endblock %}

{% block content %}
<content>
    <h1 id="page-title">Sign in</h1>

    <input id="username" class="uk-input" type="text" placeholder="username"><br />
    <input id="password" class="uk-input" type="password" placeholder="password"><br />
    <button onclick="login();" class="btn btn-primary btn-lg btn-block uk-margin">Sign in</button>

    <a class="uk-margin" href="" data-toggle="modal" data-target="#helpModal">Do you need some help?</a>

    <div id="message"></div>
</content>

<!-- Modal -->
<div
    class="modal fade" id="helpModal"
    tabindex="-1" role="dialog"
    aria-labelledby="helpModalLabel",
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Help Desk</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p> - Software Issue - </p>
                <p>Open Ticket Software is free and open source software under the MIT License.</p>
                <p>Project is coding with developer's passion and love in South Korea.</p>
                <p>If you has some trouble in software, please post issue about your problem on project page</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}
