{% extends 'layout.html' %}

{% block CSS %}
<style type="text/css">
    content {
        min-width: 600px;
        height: 300px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #move-btn { float: right; }

    @media (max-widht: 600px) {
        content {
            width: 90%;
        }
    }
</style>
{% endblock %}

{% block JS %}
<script type="text/javascript">
    function move() {
        const current = Date.parse(new Date());
        const saletime = Date.parse( $('#countdown').attr('uk-countdown').slice(6, 31) );

        if (current >= saletime) {
            location.href = "/user/purchase";

        } else {
            $('#title').addClass('uk-text-warning');

            setTimeout(() => {
                $('#title').removeClass('uk-text-warning');
            }, 3000);
        }
    }
</script>
{% endblock %}

{% block content %}
<content>
    <h1 id="title">It's not time for sale yet.</h1>

    <div id="countdown" class="uk-grid-small uk-child-width-auto" uk-grid uk-countdown="{{ saletime }}">
        <div>
            <div class="uk-countdown-number uk-countdown-days"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-hours"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-minutes"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
        </div>
        <div class="uk-countdown-separator">:</div>
        <div>
            <div class="uk-countdown-number uk-countdown-seconds"></div>
            <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
        </div>
    </div>

    <button id="move-btn" onclick="move();" class="btn btn-primary btn-lg uk-margin" type="button">Move to purchase page</button>
</content>
{% endblock %}
