{% extends 'layout.html' %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="/static/css/seat-canvas-style.css">

<style type="text/css">
    .page {
        width: 90%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: none;
    }

    .page.active {
        display: inline;
    }

    .page div {
        margin: 0 auto;
    }

    #form-page {
        width: 500px;
        top: 100px;
        transform: translate(-50%, 0);
    }

    #form-page .uk-card {
        width: 500px;
    }

    #custom-form .form-check {
        width: fit-content;
        margin: 0;
    }

    #main-nav {
        width: 100%;
        height: 80px;

        padding: 30px 3% 0;

        position: fixed;
        top: 0;
        left: 0;

        background-color: white;
    }

    @media (max-width: 1600px) {
        .page {
            top: 100px;
            transform: translate(-50%, 0);
        }

        #form-page .uk-card {
            width: 90%;
        }

        #seat {
            top: 150px;
            transform: translate(-50%, 0);
        }
    }
</style>
{% endblock %}

{% block JS %}
<!-- SHA512 -->
<script src="/static/includes/sha512.min.js" type="text/javascript"></script>

<script src="/static/script/seat-canvas.js" type="text/javascript"></script>
<script src="/static/script/form-factory.js" type="text/javascript"></script>

<script type="text/javascript">
var SeatCanvas = undefined;

function move_page(num) {
    // Canvas disable
    if (num == 1) {
        SeatCanvas.startUpdate();
    } else {
        SeatCanvas.stopUpdate();
    }

    // Change nav
    $($('#main-nav .nav-item .active')[0]).removeClass('active');
    $($($('#main-nav .nav-item')[num]).children()[0]).addClass('active');

    // Change page
    $('.page.active').removeClass('active');
    $($('.page')[num]).addClass('active');
}

function purchase_request() {
    const username = $('#username').val();
    const password = $('#password').val();

    const request_data = {
            'login': {
                'username': sha512(username),
                'password': sha512(password),
            },
            'username': username,
            'seats': SeatCanvas.getSeatTable(),
            'form': read_form('#custom-form'),
            'price': SeatCanvas.getTotalPrice()
    };

    // Check data
    if (username == '' || password == '') {
        alert('Input username and password');
        return;

    } else if (request_data.seats.length == 0) {
        alert('Please select your seat');
        return;

    } else if (request_data.form == undefined) {
        return;
    }

    // Get Ticket
    const ticket = '';
    $.ajax({
        url: '/user/purchase/save',
        method: 'POST',
        data: JSON.stringify(request_data),
        contentType: 'application/json',
        dataType: 'json'
    })
    .done(response => {
        // Seat confirm
        SeatCanvas.confirm(response.ticket);

        // Move to login
        alert('Purchase Success')
        location.href = "/user/login";
    })
    .fail((jqXHR, textStatus) => {
        alert('System Error, please contact with manager');
        console.log(jqXHR);
    });
}

function purchase_cancel() {
    SeatCanvas.stopUpdate();
    let result = confirm('Are you sure purchase cancel?');

    if (result) {
        SeatCanvas.cancel();

        location.href = "/";
    } else {
        SeatCanvas.startUpdate();
    }
}

$(document).ready(() => {
    // Seat page
    SeatCanvas = new SeatCanvasInstance('#seat');
    setTimeout(() => {
        SeatCanvas.stopUpdate();
    }, 1000);

    // Form page
    make_form('#custom-form');
});
</script>
{% endblock %}

{% block content %}
<content>
    <div id="welcom-page" class="page active">
        <h1 class="uk-text-center">Welcome to purchase page</h1>

        <div class="uk-text-center uk-margin-large">
            <h3>Contact with manager</h3>
            <p>{{ config['contact'] }}</p>
        </div>
    </div>

    <div id="seat-page" class="page">
        <h2>Select your seat</h2>

        <div id="seat-wrap">
            <div id="seat"></div>

            <div class="message">
                <ul>
                    <li>Click your seat on canvas</li>
                    <li>Select seat option</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="form-page" class="uk-text-center page">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <h3>Username</h3>
            <input id="username" class="form-control uk-width-1-1" type="text" placeholder="username">

            <h3>Password</h3>
            <input id="password" class="form-control uk-width-1-1" type="password" placeholder="password">
        </div>

        <div id="custom-form" class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin"></div>
    </div>

    <div id="confirm-page" class="page">
        <h1>Press purchase request button and get your ticket</h1>
        <button class="btn btn-primary btn-lg" onclick="purchase_request();">Purchase Request</button>
        <button class="btn btn-danger btn-lg" onclick="purchase_cancel();">Cancel</button>
    </div>
</content>

<div id="main-nav">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" onclick="move_page(0);">Welcome</a></li>
        <li class="nav-item"><a class="nav-link" onclick="move_page(1);">Select Seat</a></li>
        <li class="nav-item"><a class="nav-link" onclick="move_page(2);">Input Info</a></li>
        <li class="nav-item"><a class="nav-link" onclick="move_page(3);">Done</a></li>
    </ul>
</div>
{% endblock %}
