{% extends 'layout.html' %}
{% block title %}Ticket{% endblock %}

{% block CSS %}
<style type="text/css">
    content {
        position: absolute;
        top: 50px;
        padding: 3%;

        left: 50%;
        transform: translate(-50%, 0);
        
        width: 96%;
        height: 90%;
    }

    .page {
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translate(-50%, 0);

        visibility: hidden;
    }

    .page.active {
        visibility: visible;
    }

    .uk-grid .item {
        padding: 30px;
    }

    #page-code {
        height: 80%;
    }

    #auth-wrap {
        width: 500px;
        height: 500px;

        border: 5px dashed darkgray;
        border-radius: 20px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #ticket-code img {
        width: 90%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #page-option .uk-card .uk-label {
        position: absolute;
        top: 30px;
        right: 30px;
        float: right;
    }

    #page-cancel .uk-card {
        width: 500px;
        border-radius: 20px;
        margin: 0 auto;
    }

</style>
{% endblock %}

{% block JS %}
<!-- QR CODE Generator -->
<script src="/static/includes/qrcode.min.js" type="text/javascript"></script>

<!-- SHA512 -->
<script src="/static/includes/sha512.min.js" type="text/javascript"></script>

<script type="text/javascript">
const menu = [
    '#page-code',
    '#page-option',
    '#page-cancel',
    '#page-terms'
];

var currentPage = 0;
function change_page(num) {
    currentPage = num;

    // gen code
    if (num == 0) {
        gen_code();
    }

    // hidden
    $('.page.active').removeClass('active');
    $('#navbarSupportedContent .nav-link.active').removeClass('active');

    // visible
    $(menu[num]).addClass('active');
    $($('#navbarSupportedContent .nav-link')[num]).addClass('active');
}

function gen_code() {
    const request = () => {
        $.ajax({
            url: '/user/ticket/gencode',
            method: 'GET',
            dataType: 'json'
        })
        .done((response) => {
            if (response.success) {
                const el = $('#ticket-code')[0];
                const data = response.data;

                new QRCode(el, {
                    text: '',
                    width: 256,
                    height: 256,
                    colorDark: "#000000",
                    colorLight: "#ffffff",
                    correctLevel: QRCode.CorrectLevel.H
                }).makeCode(data);
            } else {
                $('#result')[0].innerHTML = response.message;
            }
        })
        .fail((jqXHR, textStatus) => {
            console.log(jqXHR);
        });

    }

    request();
    setInterval(() => {
        if (currentPage != 0) {
            clearInterval(this);
        }

        request();
    }, 300000, true);

}

function cancel_ticket() {
    password = sha512( $('#cancel-pw').val() );

    $.ajax({
        url: '/user/ticket/cancel',
        method: 'POST',
        data: JSON.stringify({'password': password}),
        contentType: 'application/json',
        dataType: 'json'
    })
    .done((data) => {
        if (data.success) {
            location.href = "/user/logout";
        } else {
            UIkit.notification({
                message: 'Permission Error: please contact with manager',
                status: 'danger',
                pos: 'bottom-left',
                timeout: 5000
            });
        }
    })
    .fail((jqXHR, textStatus) => {
        UIkit.notification({
            message: 'System Error: please contact with manager',
            status: 'danger',
            pos: 'bottom-left',
            timeout: 5000
        });

        console.log(jqXHR);
    });

    $('#cancel-modal').modal('hide');
}

$(document).ready(() => {
    gen_code();
});

</script>
{% endblock %}

{% block content %}
<content>
    <div id="page-code" class="page active">
        <h1>Check Code</h1>

        {% if user['auth'] == "auth" %}
        <div>
            <span>Show your code to manager in the field</span><br />
            <span>This code proves that you have an authorized ticket</span>
        </div>

        <div id="auth-wrap">
            <div id="ticket-code"></div>
        </div>
        {% elif user['auth'] == "unauth" %}
        <div>
            <span>Your ticket is not authenticated</span><br />
            <span>You paid money about purchased item and waiting then manager trun your ticket to authenticated</span>
        </div>
        {% else %}
        <div>
            <span>Your ticket is canceled and can not generate ticket code</span>
            <span>If you want to restore your ticket, please contact with manager</span>
        </div>
        {% endif %}

        <div id="result"></div>
    </div>

    <div id="page-option" class="page">
        <h1>Ticket Details</h1>

        {% if user['auth'] == "auth" %}
        <span class="uk-label">Auth Ticket</span>
        {% elif user['auth'] == "unauth" %}
        <span class="uk-label uk-label-danger">Unauth Ticket</span>
        {% elif user['auth'] == "canceling" %}
        <span class="uk-label uk-label-warning">Canceling Ticket</span>
        {% elif user['auth'] == "canceled" %}
        <span class="uk-label uk-label-danger">Canceled Ticket</span>
        {% endif %}

        <span class="datetime uk-margin-small-left">{{ user['datetime'] }}</span>

        <div class="uk-grid uk-width-1-1" uk-grid="masonry: true">
            <div class="item uk-width-1-2@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-width-1-1">
                    <h2>Seat</h2>
                    <table class="uk-table uk-table-strip">
                        <thead>
                            <tr>
                                <td>NUM</td>
                                <td>POSITION</td>
                                <td>OPTION</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for seat in user['seat'] %}
                            <tr>
                                <td>{{ seat['num'] }}</td>
                                <td>{{ seat['position'] }}</td>
                                <td>{{ seat['option'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="item uk-width-1-2@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-width-1-1">
                    <h2>User</h2>
                    {% for data in user['form'] %}
                    <p class="uk-margin">{{ data }}</p>
                    <input class="form-control" type="text" placeholder="{{ data }}" value="{{ user['form'][data] }}" disabled>
                    {% endfor %}
                </div>
            </div>

            <div class="item uk-width-1-2@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-width-1-1">
                    <h2>Total Price</h2>
                    <span>{{ user['price'] }}</span>
                </div>
            </div>

            <div class="item uk-width-1-2@m">
                <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-width-1-1">
                    <h2>Ticket Status</h2>

                    {% if user['auth'] == "auth" %}
                    <p class="uk-text-primary">Authenticated Ticket</p>
                    <span class="uk-label">Auth Ticket</span>
                    <hr />
                    <span>Already ticket is authenticated.</span><br />
                    <span>You can generate code and use this ticket.</span>

                    {% elif user['auth'] == "unauth" %}
                    <p class="uk-text-danger">Unauthenticated Ticket</p>
                    <span class="uk-label uk-label-danger">Unauth Ticket</span>
                    <hr />
                    <span>Ticket is not authenticated yet. You can not use this ticket.</span><br />
                    <span>If you paid money already, please contact with manager.</span>

                    {% elif user['auth'] == "canceling" %}
                    <p class="uk-text-warning">Cancellation process in progress</p>
                    <span class="uk-label uk-label-warning">Canceling Ticket</span>
                    <hr />
                    <span>Ticket is canceling process now</span><br />
                    <span>If you want to restore this ticket. please contact with manager</span>

                    {% elif user['auth'] == "canceled" %}
                    <p class="uk-text-danger">Canceled Ticket</p>
                    <span class="uk-label uk-label-danger">Canceled</span>
                    <hr />
                    <span>Already ticket is canceled now</span><br />
                    <span>If you want to restore this ticket. please contact with manager</span>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div id="page-cancel" class="page uk-text-center">
        {% if user['auth'] == "canceling" %}
        <h1 class="uk-text-warning">Cancellation process in progress</h1>
        <span class="uk-label uk-label-warning">Canceling Ticket</span><br />

        <div class="uk-margin">
            <span>Ticket is canceling process now</span><br />
            <span>If you want to restore this ticket. please contact with manager</span>
        </div>

        {% elif user['auth'] == 'cancel' %}
        <h1 class="uk-text-danger">Canceled Ticket</h1>
        <span class="uk-label uk-label-danger">Canceled</span><br />

        <div class="uk-margin">
            <span>Already ticket is canceled now</span><br />
            <span>If you want to restore this ticket. please contact with manager</span>
        </div>

        {% else %}
        <h1 class="uk-text-danger">Ticket Cancel</h1>
        <span class="uk-margin">If you want to ticket cancel, input password and press the cancel button</span><br />
        <span>Please request a refund from manager before canceling your ticket</span><br />

        <div class="uk-margin">{{ cancel|safe }}</div>

        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-text-center uk-margin">
            <h3>Input your password</h3>
            <input id="cancel-pw" class="form-control uk-text-center" type="password" placeholder="password">
            <button class="btn btn-danger btn-lg uk-margin" data-toggle="modal" data-target="#cancel-modal">Ticket Cancel</button>
        </div>

        <div class="uk-margin">
            <a target="blink" href="">Do you need help about ticket cancel?</a>
        </div>
        {% endif %}
    </div>

    <div id="page-terms" class="page">
        <h1>the Terms of Service</h1>

        {% for data in docs %}
        <div class="list-group">
            <a data-toggle="modal" data-target=".{{ data['id'] }}" class="list-group-item list-group-item-action">{{ data['title'] }}</a>
        </div>
        {% endfor %}
    </div>
</content>

<nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="">Ticket</a>
    <button
        class="navbar-toggler"
        type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"
            <li class="nav-item"><a class="nav-link active" onclick="change_page(0);">Code</a></li>
            <li class="nav-item"><a class="nav-link" onclick="change_page(1);">Option</a></li>
            <li class="nav-item"><a class="nav-link" onclick="change_page(2);">Cancel</a></li>
            <li class="nav-item"><a class="nav-link" onclick="change_page(3);">Docs</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<!-- Modal -->
{% for data in docs %}
<div
    class="{{ data['id'] }} modal fade bd-example-modal-xl"
    tabindex="-1" role="dialog"
    aria-hidden="true">

    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ data['title'] }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ data['content'] }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Cancel Modal -->
<div id="cancel-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ticket Cancel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <span>Do you really want to cancel your ticket?</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="cancel_ticket();">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
