/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Kalam|Open+Sans&display=swap');

/* keyframes */
@keyframes poster_hover_anim {
    from {box-shadow: 10px 10px 54px 1px rgba(0,0,0,0.54);}
    to { box-shadow: 10px 10px 54px 1px rgba(0,0,0,0.8); }
}

/* Header */
header {
    width: 100%;
    height: 80%;

    background-image: url('/static/index/header-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    box-shadow: 0 10px 54px 1px rgba(0,0,0,0.5);
}

header .background {
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: black;
    opacity: .2;
}

header .top-btn {
    position: absolute;
    top: 5%;
    right: 5%;
}

#movie-cover {
    position: absolute;
    top: 50%;
    right: 10%;

    transform: translate(0, -50%);
}

#movie-year, #movie-title {
    float: right;

    font-family: 'Open Sans';
    color: white;
}

#movie-title {
    font-size: 100px;
}

#movie-year {
    font-size: 30px;
    padding:0 20px;
    border: 1px solid white;
}

#extra-info {
    position: absolute;
    bottom: 30px;
    right: 70px;
}

#extra-info>div { margin-top: 10px; }
#extra-info * { float: right; }

#extra-info .icon {
    width: 50px;
    height: 50px;
}

#extra-info span {
    font-size: 30px;
    color: white;

    margin-right: 20px;
}

#poster {
    width: 320px;
    height: 480px;

    position: absolute;
    bottom: -100px;
    left: 10%;

    background-image: url('/static/index/poster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-shadow: 10px 10px 54px 1px rgba(0,0,0,0.54);
}

#poster:hover {
    animation:poster_hover_anim .5s forwards;
}

#scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    padding-top: 50px;
    transform: translate(-50%, 0);

    text-align: center;
}

#scroll-down p {
    font-size: 25px;
    color: lightgray;
}

#scroll-down img {
    width: 32px;
    height: 32px;
    margin:0 auto;
}

content {
    position: absolute;
    top: 80%;

    margin-top: 100px;
}

#welcome {
    padding: 200px;
    padding-right: 0;
}

#welcome h3 {
    font-weight: 200;
    font-size: 50px;
    font-family: 'Open Sans';
}

#welcome h2 {
    font-weight: 300;
    font-size: 100px;
    font-family: 'Crete Round';
}

#welcome .box {
    width: 60%;
}

#welcome .message {
    font-size: 30px;
    font-family: 'Kalam';
}

#welcome .author {
    float: right;
    font-size: 20px;
    margin-top: 20px;
}

footer {
    width: 100%;
    height: 50px;

    margin-top: 30px;
}
