.seat-canvas {
    background-color: lightgray;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seat-canvas .seat {
    width: 32px;
    height: 32px;

    text-align: center;
    background-color: white;
    opacity: 0.8;

    position: absolute;
    top: 0;
    left: 0;
}

.seat-canvas .seat:hover {
    background-color: blue;
}

.seat-canvas .seat.active {
    background-color: skyblue;
}

.seat-canvas .selected, .seat-canvas .seat.selected.active {
    background-color: yellow;
}
