{% extends '/manager/view/layout.html' %}

{% block CSS %}
<style type="text/css">
    #scanner {
        width: 500px;
        height: 500px;

        padding: 20px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        border: 5px dashed palevioletred;
    }

    #scanner video { transform: scaleX(-1); }

    #preview {
        width: 100%;
        height: 100%;
    }

    #message {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, 0);
    }

    #message * {
        font-size: 30px;
        color: lightgray;
    }
</style>
{% endblock %}

{% block JS %}
<!-- Vue.js (production version) -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<!-- Vue qrcode reader (https://github.com/gruhn/vue-qrcode-reader) -->
<link rel="stylesheet" type="text/css" href="/static/includes/vue-qrcode-reader.css">
<script src="/static/includes/vue-qrcode-reader.browser.js" type="text/javascript"></script>

<!-- QRCode -->
<script src="/static/includes/qrcode.min.js" type="text/javascript"></script>

<!-- Custom JS -->
<script src="/static/script/form-factory.js" type="text/javascript"></script>

<script type="text/javascript">
var requestCount = 0;

function check_code(data) {
    console.log(requestCount, data)
    requestCount ++;

    $.ajax({
        url: '/manager/check/code',
        method: 'POST',
        data: JSON.stringify({'code':data}),
        contentType: 'application/json',
        dataType: 'json'
    })
    .done((data) => {
        if (data.success) {
			setTimeout(() => {
				$('#message')[0].innerHTML = '<p>Show your ticket code on camera</p>';
			}, 1000);

			$('#message')[0].innerHTML = '<p class="uk-text-success">Found Ticket ID</p>';
			show_ticket_detail(data.data);
        } else {
          $('#message')[0].innerHTML = '<p class="uk-text-danger">Can not found ticket ID</p>';

        }
    })
    .fail((jqXHR, textStatus) => {
        console.log(jqXHR);
    });
}

function show_ticket_detail(data) {
	// Set data

	// 1. Username
	$('#ticket-detail').find('.detail.username').val(data.username);

	// 2. Seat
    const seat_table = $('#ticket-detail').find('.detail.seat tbody')
    const seat = data.seat;

    seat_table[0].innerHTML = '';
    seat.forEach(element => {
        let html = `
        <tr>
            <td>${element.num}</td>
            <td>${element.position}</td>
            <td>${element.option}</td>
        </tr>`;

        seat_table.append(html);
    });

	// Make form
	make_form('#ticket-detail .detail.form', data.form);

	// Open Modal
	$('#ticket-detail').modal('show');
}

$(document).ready(() => {
    new Vue({
      el: '#app',

      data() {
        return {
          decodedContent: '',
          errorMessage: ''
        }
      },

      methods: {
        onDecode(content) {
          this.decodedContent = content

          check_code(content);
        },

        onInit(promise) {
          promise.then(() => {
              console.log('Successfully initilized! Ready for scanning now!')
            })
            .catch(error => {
              if (error.name === 'NotAllowedError') {
                this.errorMessage = 'Hey! I need access to your camera'
              } else if (error.name === 'NotFoundError') {
                this.errorMessage = 'Do you even have a camera on your device?'
              } else if (error.name === 'NotSupportedError') {
                this.errorMessage = 'Seems like this page is served in non-secure context (HTTPS, localhost or file://)'
              } else if (error.name === 'NotReadableError') {
                this.errorMessage = 'Couldn\'t access your camera. Is it already in use?'
              } else if (error.name === 'OverconstrainedError') {
                this.errorMessage = 'Constraints don\'t match any installed camera. Did you asked for the front camera although there is none?'
              } else {
                this.errorMessage = 'UNKNOWN ERROR: ' + error.message
              }
            })
        }
      }
    })

});

</script>
{% endblock %}

{% block content %}
<content class="uk-card uk-card-secondary uk-card-body uk-card-hover">
	<h1>Field Check</h1>

    <div id="app">
        <div id="scanner">
            <qrcode-stream @decode="onDecode" @init="onInit" />
        </div>
    </div>

    <div id="message">
        <p>Show your ticket code on camera</p>
    </div>
</content>

<!-- Modal -->
<style type="text/css">
    .form-group {
        width: 100%;
        margin: 0;
    }
</style>

<div id="ticket-detail" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="doument">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title">Ticket Details</div>
				<button type="button" class="close" data-dismiss="modal" aira-label="Close">
					<span aria-hidden="true"&times;></span>
				</button>
			</div>

			<div class="modal-body">
				<p class="uk-text-lead uk-margin">Username</p>
				<input class="form-control detail username" type="text" placeholder="Username" value="" disabled>

				<p id="seat-table" class="uk-text-lead uk-margin">Seat Table</p>
				<table class="detail seat uk-table uk-table-strip uk-text-center">
				<thead>
					<tr>
						<td>NUM</td>
						<td>POSITION</td>
						<td>OPTION</td>
					</tr>
				</thead>
			
				<tbody></tbody>
				</table>

				<p class="uk-text-lead uk-margin">Form</p>
				<div class="detail form"></div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
