{% extends '/manager/view/TableView.html' %}
{% block title %}Dashboard{% endblock %}

{% block JS %}
<!-- SHA512 -->
<script src="/static/includes/sha512.min.js" type="text/javascript"></script>

<script src="/static/script/form-factory.js" type="text/javascript"></script>
<script src="/static/script/dashboard.js" type="text/javascript"></script>

<script type="text/javascript">
    function change_ticket_auth (status) {
        let el = undefined;
        let label = '';

        if ($('#card').css('display') == 'none') {
            el = $('#modal').find('.detail.auth')
            label = $('#modal').find('.detail.auth')[0].innerHTML;
        } else {
            el = $('#card').find('.detail.auth')
            label = $('#card').find('.detail.auth')[0].innerHTML;
        }

        if (label == 'cancel') {
            alert('You cannot restore canceled ticket');
            return;

        } else {
            $(el)[0].innerHTML = status;
        }

        if (status == 'auth') {
            $('.detail.auth').removeClass('uk-label-danger');
            $('.detail.auth').removeClass('uk-label-warning');
            $('.detail.auth').addClass('uk-label-primary');

        } else if (status == 'unauth' || status == 'cancel') {
            $('.detail.auth').removeClass('uk-label-warning');
            $('.detail.auth').removeClass('uk-label-primary');
            $('.detail.auth').addClass('uk-label-danger');

        } else {
            $('.detail.auth').removeClass('uk-label-primary');
            $('.detail.auth').removeClass('uk-label-danger');
            $('.detail.auth').addClass('uk-label-warning');
        }

        if (status == 'cancel') {
            alert('If you cancel this ticket, reserved seat will be cancelled. This cannot be reversed.');
        }
    }

    $(document).ready(() => {
        $('#more-btn').click(() => {
            loadNextTickets();
        });

        $('#detail-reset-btn, #detail-reset-modal-btn').click((event) => {
            // Input disabled
            unlock_ticket();

            // Unlock button
            $('#detail-unlock-btn').removeClass('uk-button-primary');
            $('#detail-unlock-btn').addClass('uk-button-danger');
            $('#detail-unlock-btn')[0].innerHTML = '<span class="uk-margin-small-right" uk-icon="icon: lock"></span>Unlock';

            // Get ticket key and reset changed data
            let ticket_key = ''
            if ($('#card').css('display') == 'none') {
                ticket_key = $('#modal').find('input[name="ticket_key"]').val();
            } else {
                ticket_key = $('#card').find('input[name="ticket_key"]').val();
            }
            ticket_detail(ticket_key);
        });

        $('#detail-unlock-btn, #detail-unlock-modal-btn').click((event) => {
            const target = event.currentTarget;
            const status = $(target).hasClass('uk-button-danger');

            if (status) {
                // to Unlock
                $(target).removeClass('uk-button-danger');
                $(target).addClass('uk-button-primary');
                $(target)[0].innerHTML = '<span class="uk-margin-small-right" uk-icon="icon: unlock"></span>Save';
            } else {
                // to Lock
                $(target).removeClass('uk-button-primary');
                $(target).addClass('uk-button-danger');
                $(target)[0].innerHTML = '<span class="uk-margin-small-right" uk-icon="icon: lock"></span>Unlock';

                // Update data
                update_ticket();
            }

            unlock_ticket();
        });

        $('#search-form').on('change paste keyup', (event) => {
            const query = $(event.target).val();
            // THIS METHOD IS BLOCKED
            return;

            // Clear list
            $('#table tbody')[0].innerHTML = '';

            if (query == '') {
                reload_list();
                return;
            }

            // Request
            $.ajax({
                url: '/manager/dashboard/ticket/find',
                method: 'POST',
                data: JSON.stringify({ 'query': query }),
                contentType: 'application/json',
                dataType: 'json'
            })
            .done(response => {
                if (response.success) {
                    // Add list
                    const data = response.data;
                    data.forEach(element => {
                        let html = `<tr onclick="ticket_detail('${element.key}')">`;

                        // auth
                        if (element.auth == "auth") {
                            html += `<td class="table auth"><span class="uk-label">AUTH TICKET</span></td>`;
                        } else if (element.auth == "canceling") {
                            html += `<td class="table auth"><span class="uk-label uk-label-warning">Canceling</span></td>`;
                        } else if (element.auth == "cancel") {
                            html += `<td class="table auth"><span class="uk-label uk-label-danger">Cancel</span></td>`;
                        } else {
                            html += `<td class="table auth"><span class="uk-label uk-label-danger">UNAUTH TICKET</span></td>`;
                        }

                        // username
                        html += `<td class="table username">${element.username}</td>`

                        // datetime
                        html += `<td class="table datetime">${element.datetime}</td>`
                        html += `</tr>`

                        // append
                        $('#table tbody').append(html);
                    });

                } else {
                    UIkit.notification({
                        message: 'System Error! please contact with system manager',
                        status: 'danger',
                        pos: 'bottom-left',
                        timeout: 5000
                    });
                }
            })
            .fail((jqXHR, textStatus) => {
                console.log(jqXHR);

                UIkit.notification({
                    message: 'System Error! please contact with system manager',
                    status: 'danger',
                    pos: 'bottom-left',
                    timeout: 5000
                });
            });
        });
    });
</script>
{% endblock %}

{% block TableThead %}
<style type="text/css">
    #table td {
        overflow: hidden;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .table.auth { width: 200px; }
    .table.username { width: 200px; }
    .table.datetime { width: 250px; }

    @media (max-width: 700px) {
        .table.auth { width: 160px; }
        .table.username { width: 180px; }
        .table.datetime { width: 150px; }
    }
</style>

<tr>
    <td class="table auth">AUTH</td>
    <td class="table username">USERNAME</td>
    <td class="table datetime">DATETIME</td>
</tr>
{% endblock %}

{% block ModalTitle %}Ticket Details{% endblock %}
{% block CardTitle %}Ticket Details{% endblock %}

{% block detail %}
<style type="text/css">
    .detail.auth-btn { float: right; }

    .form-group {
        width: 100%;
        margin: 0;
    }
</style>

<p class="uk-text-large uk-margin">Username</p>
<input class="detail username form-control" type="text" placeholder="Username" disabled>

<p class="uk-text-large uk-margin">Auth</p>
<span class="uk-label detail auth"></span>
<div class="dropdown detail auth-btn">
    <button class="btn btn-secondary dropdown-toggle detail" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" onclick="change_ticket_auth('auth');">Auth</a>
      <a class="dropdown-item" onclick="change_ticket_auth('unauth');">Unauth</a>
      <a class="dropdown-item" onclick="change_ticket_auth('canceling');">Canceling</a>
      <a class="dropdown-item" onclick="change_ticket_auth('cancel');">Cancel</a>
    </div>
  </div>

<p class="uk-text-large uk-margin">Seat</p>
<table class="detail seat uk-table uk-table-strip uk-text-center">
    <thead>
        <tr>
            <td>NUM</td>
            <td>POSITION</td>
            <td>OPTION</td>
        </tr>
    </thead>

    <tbody></tbody>
</table>

<p class="uk-text-large uk-margin">Form</p>
<div class="detail form form-row"></div>

<p class="uk-text-large uk-margin">Total Price</p>
<input class="detail price form-control" type="text" placeholder="Total Price" value="" disabled>

<p class="uk-text-large uk-margin">Control</p>
<button class="detail btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#modal-password" disabled>Change Password</button>
<button class="detail btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#modal-delete" disabled>Delete Ticket</button>

<!-- Hiddden Input -->
<input name="ticket_key" type="hidden" value="">
{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="modal-password" tabindex="-1" role="dialog" aira-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aira-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input name="password" class="form-control" type="password" placeholder="Password" value="">
                <input name="password-confirm" class="form-control uk-margin-small" type="password" placeholder="Password confirm" value="">

                <span class="message" class="uk-margin-small uk-text-warning"></span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="change_password();">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aira-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ticket Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aira-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Are you sure delete this ticket?</span>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="delete_ticket();">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
