{% extends 'layout.html' %}

{% block CSS %}
<style type="text/css">
    content {
        width: 500px;
        height: 260px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
    }

    #page-title {
        font-size: 100px;
    }

    #password {
        width: 100%;
        text-align: center;
    }

    #result {
        text-align: center;
        font-size: 20px;
        color: coral;

        margin-top: 30px;
    }

    /* Portrait phones */
    @media (max-width: 575.98px) {
        content {
            width: 90%;
        }
    }

</style>
{% endblock %}

{% block JS %}
<!-- SHA 512 -->
<script src="/static/includes/sha512.min.js" type="text/javascript"></script>

<script type="text/javascript">
function login() {
    password = sha512( $('#password').val() );

    $.ajax({
        url: '/manager/login',
        method: 'post',
        data: JSON.stringify({'password': password}),
        contentType: 'application/json',
        dataType: 'json'
    })
    .done((data) => {
        if (data.success) {
            // Refresh the page
            location.reload();
        } else {
            // Wrong Password
            $('#result')[0].innerHTML = 'Fail to creation session. Wrong Password<br />Please refer the guide and reset the manager password';
        }
    })
    .fail((jqXHR, textStatus) => {
        $('#result')[0].innerHTML = `
        Fail request login API. (${textStatus})<br />
        Press [F12] button to open the developer tools<br />
        Move "console" tab and then copy and post the <a target="blink" href="https://gitlab.com/yejun614/open-ticket-today/issues">issue</a> about the error messages.`;
    });
}

</script>
{% endblock %}

{% block content %}
<content>
    <h1 id="page-title">Dashboard</h1>

    <input id="password" class="form-control" type="password" placeholder="Password"><br />
    <button class="btn btn-primary btn-lg" onclick="login();">Make Session</button>

    <div id="result"></div>
</content>
{% endblock %}
