<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scal=1">
        <title>{{ config['title'] }}</title>

        <!-- Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/index-style.css">
    </head>

    <body>
        <header>
            <div class="background"></div>
            <button
                onclick="location.href='/user/login'"
                class="top-btn btn-primary btn-lg"
                type="button">Sign In</button>

            <div id="movie-cover">
                <span id="movie-title">{{ config['title'] }}</span><br />
                <span id="movie-year">{{ config['year'] }}</span>
            </div>

            <div id="extra-info">
                <div>
                    <img src="/static/index/star.svg" class="icon">
                    <span>stars</span>
                </div><br />

                <div>
                    <img src="/static/index/bell.svg" class="icon">
                    <span>mins</span>
                </div>
            </div>

            <div id="poster"></div>
        </header>

        <div id="scroll-down">
            <p>Scroll Down</p>
            <img src="/static/index/down-arrow.svg">
        </div>

        <content>
            <section id="welcome">
                <h3>{{ config['welcome']['subtitle'] }}</h3>
                <h2>{{ config['welcome']['title'] }}</h2>
    
                <div class="box">
                    <span class="message">{{ config['welcome']['message'] }}</span><br />
                    <span class="author">{{ config['welcome']['author'] }}</span>
                </div>
            </section>
    
            <section id="story"></section>
    
            <section id="gallery"></section>
    
            <section id="people"></section>
    
            <section id="timer"></section>

            <footer>
                <div>
                Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                </div>
            </footer>
        </content>
    </body>
</html>
